* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

header {
    padding: 20px;
    background-image: url(../img/map-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 8px 5px #727272;
}

h1 {

    margin: 50px 0px;
    color: #545454;
}

h1:before {
    content: url(../img/flag.png);
    margin-right: 15px;
    margin-left: 50px;
    box-shadow: 5px 8px 5px #727272;
}

.nav ul li {
    box-sizing: border-box;
    display: inline-block;
    width: calc(20% - 4px);
    list-style: none;
    text-align: center;
    padding: 15px;
    border-radius: 6px;

}

.nav ul li:nth-child(1) {
    background-color: #ffcc009c;
    border: 1px solid #ffffff;

}

.nav ul li:nth-child(4) {
    background-color: #ffcc009c;
    border: 1px solid #ffffff;
}

.nav ul li:nth-child(2) {
    background-color: #002c8ba7;
    border: 1px solid #ffffff;

}

.nav ul li:nth-child(5) {
    background-color: #002c8ba7;
    border: 1px solid #ffffff;
}

.nav ul li:nth-child(3) {
    background-color: #e9072db6;
    border: 1px solid #ffffff;

}

.nav ul li {
    box-shadow: 5px 8px 5px #727272;
}

main {

    margin: 20px auto;
    max-width: 1080px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #bad4efd2;
    padding: 20px 30px;
    box-shadow: 5px 8px 5px #727272;

}

main section:first-of-type {
    background-color: #e5e5e5;
    padding: 15px;
}

section p,
section ul {
    margin: 20px 0px;
    background-color: #f8f5f0;
    padding: 10px;
    box-shadow: 5px 8px 5px #727272;
}

h2 {
    text-align: center;
    margin: 20px 0px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 5px 8px 5px #727272;
}

#geography img {
    display: inline-block;
    width: 100%;
    box-shadow: 5px 8px 5px #727272;
}

.main_history ul li {
    list-style: none;
    padding: 5px 0px;

}

.main_history ul li::before {
    content: url(../img/flag-small.png);
    margin-right: 10px;
    box-shadow: 5px 5px 5px #727272;

}

.main_history ul+p,
.main_politics p:nth-child(4) {
    background-color: #e9072db6;
    padding: 10px;
    box-shadow: 5px 8px 5px #727272;
}

.main_population ul li {
    list-style: none;
    text-align: center;
    padding: 5px 0px;

}

.footer {

    background-image: url(../img/map-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #002c8ba7;
    padding: 20px;


}

.footer ul li {
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    width: calc(8% - 4px);

}